/plano-de-estudo/nbproject/private/
/plano-de-estudo-domain/nbproject/private/
/plano-de-estudo-webapi/nbproject/private/
/plano-de-estudo-webapi/build/
/plano-de-estudo-domain/dist/
/plano-de-estudo-domain/build/
/plano-de-estudo-webapi/dist/